target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
bin/
**/*maven-eclipse.xml
**/*externalToolBuilders
/core/src/main/resources/runtime-properties/common-shared.properties
